.list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 150px;
  padding: 0px;
  gap: 10px;
  overflow-x: auto;
} 

.list li {
  flex: 1;
  list-style: none;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}
