body {
  display: flex; 
  justify-content: center;  
  align-items: center;  
   margin: 0;  
   padding-bottom: 50px;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}